<p>{{ site.profile.bio }}</p>

{% if site.profile.photo %}
<figure>
  <img src="{{ site.profile.photo.medium.url }}"
      width="{{ site.profile.photo.medium.width }}"
      height="{{ site.profile.photo.medium.height }}">
</figure>
{% endif %}