<h1>
  {{ site.name | smarty_pants }}
</h1>

{% unless site.description == empty %}
  <p>{{ site.description | smarty_pants }}</p>
{% endunless %}

{% include 'bio' %}
{% include 'blogroll' %}
{% include 'tags' %}  

{% include 'posts' %}
